*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.form-wrap{
    width: 100%;
    height: fit-content;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 10px;
}


form{
    width: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.input-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


label{
    font-size: 20px;
    margin-bottom: 7px;
}


input{
    height: 45px;
    border: none;
    outline: 1px solid lightgray;
    border-radius: 7px;
    font-size: 20px;
    padding: 0 15px;
}


select{
    height: 45px;
    border: none;
    outline: 1px solid lightgray;
    border-radius: 7px;
    padding: 0 15px;
    font-size: 20px;
}



@media screen and (max-width: 760px) {
    form{
        width: 100%;
    }
}



button{
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(94, 94, 250);
    border: none;
    border-radius: 10px;
}


p#err{
    font-size: 14px;
    color: red;
}




/* TABLE STYLE */

table{
    width: 700px;
    background-color: white;
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-size: 20px;
}


td, th {
    height: 50px;
    border: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}